@model IEnumerable<Chat.Models.PrivateMessage>

<div id="privateChatroom" class="form-control">
    <ul>
        @foreach(var mes in Model)
        {
            <li><b>@mes.FromUserName: </b>@mes.Text</li>
        }
    </ul>
</div>