@model IEnumerable<Chat.Models.Message>
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="form-inline">
        <p><b>You are logged in as:&nbsp;</b></p>
        <p id="userName">@User.Identity.Name</p>
    </div>

    <div id="header"></div><br />
    <div id="chatroom" class="form-control">
        <ul id="ul">
            @foreach (var message in Model)
            {
                @if (message.User != null)
                {
                    <li><b>@message.User.UserName: </b>@message.Text</li>
                }
            }
        </ul>
    </div>
    <br />
    <div id="inputForm" class="form-group row">
        <div class="col-md-10">
            <input type="text" id="message" class="form-control" />
        </div>
        <input type="submit" id="sendBtn" value="Отправить" class="btn btn-radius btn-success" />
    </div>
}
else
{
    <h2>Welcome!</h2>
    <h3>Please login or register.</h3>
    <div id="chatroom"></div>
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
