@model Chat.ViewModels.RegisterViewModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Nickname"></label><br />
        <input asp-for="Nickname" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>